@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "vue-multiselect/dist/vue-multiselect.min.css";

*:focus, button:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: 0;
}

html{
  scroll-behavior: smooth;
}

h1, h2{
  @apply text-lg font-semibold mb-4
}

.multiselect__tags{
  @apply border-0
}

.multiselect__placeholder, .multiselect__input{
  @apply mb-0 h-4
}

input, textarea, .multiselect__tags{
  @apply bg-white border-b-2 border-gray-400 rounded transition duration-75
}

input, .multiselect__tags{
  @apply px-4 py-3
}

input:focus, textarea:focus{
  @apply border-blue-500
}

textarea{
  @apply px-4 py-4
}

textarea:hover, textarea:focus, input:hover, input:focus, input:not(input:focus.multiselect__input){
  @apply shadow
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("/InterUI/Inter-Thin.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-Thin.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
  src: url("/InterUI/Inter-ThinItalic.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-ThinItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
  src: url("/InterUI/Inter-ExtraLight.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-ExtraLight.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
  src: url("/InterUI/Inter-ExtraLightItalic.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-ExtraLightItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("/InterUI/Inter-Light.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-Light.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
  src: url("/InterUI/Inter-LightItalic.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-LightItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/InterUI/Inter-Regular.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-Regular.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("/InterUI/Inter-Italic.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-Italic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("/InterUI/Inter-Medium.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-Medium.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("/InterUI/Inter-MediumItalic.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-MediumItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("/InterUI/Inter-SemiBold.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-SemiBold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("/InterUI/Inter-SemiBoldItalic.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-SemiBoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("/InterUI/Inter-Bold.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-Bold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("/InterUI/Inter-BoldItalic.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-BoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("/InterUI/Inter-ExtraBold.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-ExtraBold.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
  src: url("/InterUI/Inter-ExtraBoldItalic.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-ExtraBoldItalic.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("/InterUI/Inter-Black.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-Black.woff?v=3.13") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
  src: url("/InterUI/Inter-BlackItalic.woff2?v=3.13") format("woff2"),
       url("/InterUI/Inter-BlackItalic.woff?v=3.13") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/InterUI/Inter-roman.var.woff2?v=3.13") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/InterUI/Inter-italic.var.woff2?v=3.13") format("woff2");
}


/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("/InterUI/Inter.var.woff2?v=3.13") format("woff2");
}
